{
  "name": "net.atos~bookmark~0.7-SNAPSHOT",
  "config": {
    "main" : "net.atos.entng.bookmark.Bookmark",
    "port" : 8032,
    "app-name" : "Signets",
    "app-address" : "/bookmark",
    "app-icon" : "bookmark-large",
    "host": "${host}",
    "ssl" : $ssl,
    "auto-redeploy": false,
    "userbook-host": "${host}",
    "integration-mode" : "HTTP",
    "app-registry.port" : 8012,
    "mode" : "${mode}",
    "entcore.port" : 8009
  }
}
