{
  "name": "net.atos~bookmark",
  "config": {
    "main": "net.atos.entng.bookmark.Bookmark",
    "probes": [
      "org.entcore.common.http.health.Neo4jProbe",
      "org.entcore.common.http.health.MongoProbe"
    ],
    "port": 8032,
    "csrf-token": {{ csrfToken | default('true') }},
    "app-name": "Signets",
    "app-address": "/bookmark",
    "app-icon": "bookmark-large",
    "app-type" : "WIDGET",
    "host": "https://{{ host }}",
    "ssl": true,
    {% if bookmarkOverrideTheme is defined %}
    "override-theme": {{ bookmarkOverrideTheme }},
    {% endif %}
    "auto-redeploy": false,
    "userbook-host": "https://{{ host }}",
    "integration-mode": "{{ integration_mode|default('HTTP') }}",
    "app-registry.port": 8012,
    "mode": "prod",
    "entcore.port": 8009
  }
}