<!-- TODO : create css class "bookmark-widget" in springboard-neo -->
<style>
    .bookmark-widget.drop-line {
	  background: url("/assets/themes/neo/img/icons/close-cross.png") no-repeat center;
    }
	.bookmark-widget.widget {
	  width: 100%;
	  background: #c0b192;
	  font-weight: normal;
	  margin-bottom: 15px;
	}
	.bookmark-widget.widget .display-buttons {
	  box-sizing: border-box;
	  display: block;
	  position: relative;
	  text-align: right;
	  float: none;
	}
	.bookmark-widget.widget .brown-background {
	  background-color: #786c5c;
	}
	.bookmark-widget.widget h1 {
	  background-color: #a5957b;
	  color: #fff;
	  padding: 8px;
	  text-align: center;
	}
	.bookmark-widget.widget ul {
	  padding: 10px;
	  margin: 0;
	}
	.bookmark-widget.widget ul li {
	  list-style-type: none;
	  color: #786c5c;
	}
	.bookmark-widget.widget a {
	  color: #fff;
	}
	.bookmark-widget.widget tbody td {
	  padding: 5px;
	}
	.bookmark-widget.widget tbody tr:hover {
	  background: #e4e4da;
	}
	.bookmark-widget.widget .selected {
	  background: #e4e4da;
	}
</style>


<div class="widget bookmark-widget">
	<h1><i18n>bookmark.widget.title</i18n></h1>
	
	<ul class="row" ng-if="!widget.bookmarks.isEmpty()">
		<li ng-repeat="bookmark in widget.bookmarks.all | orderBy:'name'">
			<a href="[[bookmark.url]]" target="_blank">[[bookmark.name]]</a>
		</li>
	</ul>
	<span ng-if="widget.bookmarks.isEmpty()">
		<i18n>bookmark.widget.empty</i18n>
	</span>

	<div class="row display-buttons">
      <i class="show-admin" ng-if="!widget.bookmarks.isEmpty()" ng-click="widget.manageBookmarks()" 
       translate-attr="tooltip" tooltip="bookmark.widget.manage.bookmarks"></i>
       <button class="brown-background" ng-click="widget.newBookmark()">
           <i18n>bookmark.widget.new.bookmark</i18n>
       </button>
	</div>
	
	<lightbox show="widget.display.newBookmark" on-close="widget.display.newBookmark = false">
		<h2><i18n>bookmark.widget.createform.title</i18n></h2>
		<article class="twelve cell">
			<div class="row">
				<label class="one cell"><i18n>bookmark.widget.createform.name</i18n></label>
				<input type="text" ng-model="widget.bookmark.name" class="eleven cell" />
			</div>
			<div class="row">
				<label class="one cell"><i18n>bookmark.widget.createform.url</i18n></label>
				<input type="text" ng-model="widget.bookmark.url" class="eleven cell" />
			</div>
			<div class="row">
				<button class="right-magnet" ng-click="widget.bookmark.createBookmark()">
					<i18n>bookmark.widget.createform.save</i18n> 
				</button>
				<button class="right-magnet cancel" ng-click="widget.display.newBookmark = false">
					<i18n>bookmark.widget.createform.cancel</i18n>
				</button>
			</div>
		</article>
	</lightbox>
	
	<lightbox show="widget.display.manage" on-close="widget.display.manage = false">
		<h2><i18n>bookmark.widget.manage.title</i18n></h2>
		<table class="list-view twelve">
			<thead>
				<tr>
					<th><i18n>bookmark.widget.managetable.name</i18n></th>
					<th><i18n>bookmark.widget.managetable.url</i18n></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bookmark in widget.bookmarks.all" ng-class="{ selected : widget.editedBookmark && bookmark._id === widget.editedBookmark._id }">
					<td ng-click="widget.editBookmark(bookmark)">[[bookmark.name]]</td>
					<td ng-click="widget.editBookmark(bookmark)">[[bookmark.url]]</td>
					<td class="bookmark-widget drop-line" ng-click="bookmark.deleteBookmark()"></td>
				</tr>
			</tbody>
		</table>
		<hr class="row"/>
		
		<article class="twelve cell" ng-if="widget.editedBookmark && widget.editedBookmark._id">
			<h3><i18n>bookmark.widget.edit.bookmark</i18n></h3>
			<div class="row">
				<label class="one cell"><i18n>bookmark.widget.editform.name</i18n></label>
				<input type="text" ng-model="widget.editedBookmark.name" class="eleven cell" />
			</div>
			<div class="row">
				<label class="one cell"><i18n>bookmark.widget.editform.url</i18n></label>
				<input type="text" ng-model="widget.editedBookmark.url" class="eleven cell" />
			</div>
			<div class="row">
				<button class="right-magnet" ng-click="widget.editedBookmark.updateBookmark()">
					<i18n>bookmark.widget.editform.save</i18n> 
				</button>
				<button class="right-magnet cancel" ng-click="widget.cancelEdit()">
					<i18n>bookmark.widget.editform.cancel</i18n>
				</button>
			</div>
		</article>
	</lightbox>
</div>